.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.game-over-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.game-over-modal p {
    font-size: 24px;
    margin-bottom: 20px;
}

.game-over-modal button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.game-over-modal button:hover {
    background-color: #0056b3;
}


.move-indicator {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.move-indicator.white-turn {
    color: #333;
}

.move-indicator.black-turn {
    color: #000;
}
